[user]
	name = zhao lu
	email = zlu@me.com
[color]
	excludesfile = ~/.gitignore
	diff = auto
	branch = auto
	status = auto
[alias]
	b = branch
	c = commit
	co = checkout
	d = diff -b
	s = status
	a = add
