[user]
	name = zhao lu
	email = zlu@me.com

[color]
	excludesfile = ~/.gitignore
	diff = auto
	branch = auto
	status = auto

[alias]
	a  = add
	b  = branch
	ba = branch -a 
	ci =  commit -v
	d  = diff -b
	co = checkout
	s  = status

[apply]
	whitespace = nowarn


