[include]
	path = $HOME/.github_config

[tokenuser]
	name = Zhao Lu
	email = zlu@me.com
[core]
	editor = emacs
	excludesfile = /Users/zlu/.gitignore_global
	url=git@github.com:zlu

[color]
	diff = auto
	branch = auto
	status = auto
[alias]
	a  = add
	b  = branch
	ba = branch -a 
	ci =  commit -v
	d  = diff -b
	co = checkout
	s  = status

[apply]
	whitespace = nowarn

[git-pair]
       authors = Larry Kang
       authors = Zhao Lu
       authors = Diana Chow
       authors = Jonathan Freedman

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[user]
	email = zlu@me.com
